* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.dpf{
    display: flex;
}

.dpf_cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dpf_ccc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sp_between {
    justify-content: space-between;
}

.dnone{
  display: none;
}

.gap8{
  gap: 8px;
}

nav {
  height: 96px;

}

main {
  display: flex;
  justify-content: center;
}

.overflow-y{
  overflow-y: auto;
}

.border {
  padding: 80px 80px;
  background-color: #f6f7f8;
}

h1 {
  font-size: 73px;
  margin-bottom: 60px;
}

section {
  display: flex;
  gap: 24px;
}


.error_message, .req {
  color: red;
}

.task-input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input_field {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  font-weight: 400;
  font-style: regular;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 4px;
}

.task-input {
  width: 440px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.separator {
  width: 1px;
  background-color: #d1d1d1;
}

.priority-buttons {
  display: flex;
  gap: 16px;
}

.priority-btn {
  width: 136px;
  padding: 16px 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  line-height: 120%;
  cursor: pointer;
  transition: background 0.2s;
}

.category-select {
  width: 440px;
  height: 40px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* ########################################## */
.footer_Add_Task {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 40px;
}

.btn {
  padding: 12px;
  border-radius: 10px;
  gap: 4px;
  font-size: 21px;
  line-height: 120%;
  cursor: pointer;
}

.btn_clear {
  border: 1px solid #2a3647;
  color: #2a3647;
}
.btn_create {
  background-color: #2a3647;
  color: white;
  font-weight: 700;
  border: none;
}

.custom-category-dropdown {
  position: relative;
  width: 100%;
  user-select: none;
}
.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px 12px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8px;
}
.dropdown-arrow {
  transition: transform 0.2s;
  font-size: 14px;
}
.custom-category-dropdown.open .dropdown-arrow {
  transform: rotate(180deg);
}
.dropdown-list {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  position: static;
  border-radius: 0 0 4px 4px;
  padding: 8px 0px;
  max-height: 200px;
  overflow-x: auto;
  margin-bottom: 8px;
}
.custom-category-dropdown.open .dropdown-list {
  display: block;
}
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 16px;
}

.dropdown-item:hover {
  background-color: #2A3647;
  border-radius: 8px;
  color: white;

}

.taskOutput{
  font-size: 16px;
  padding: 4px;

}

.subtask{
  display: flex;
  flex-direction: column;
}

.taskOutput:hover{
  background-color: #dad8d8;
  cursor: pointer;
  border-radius: 16px;
}

.editdeleteBtn{
  display: none;
}

.taskOutput:hover .editdeleteBtn{
  display: flex;
  gap: 8px;
}


/* ################################### */


.priority-btn:hover {
  color: #fff;
}

.priority-btn:hover svg {
  filter: brightness(0) invert(1);
}

/* Der "aktive" Zustand soll genau so aussehen wie der Hover-Zustand */
.urgent_btn:hover,
.medium-btn:hover,
.low_btn:hover {
  color: #fff;
}

 .medium-btn svg {
filter: invert(65%) sepia(33%) saturate(3407%) hue-rotate(1deg) brightness(107%) contrast(104%);
} 

.urgent_btn:hover svg,
.medium-btn:hover svg,
.checkSvg,
.low_btn:hover svg {
  filter: brightness(0) invert(1);
}

/* Individuelle Hintergrundfarben */
.urgent_btn:hover { background: #ff3d00; }
.medium-btn:hover { background: #ffa800; }
.low_btn:hover    { background: #7ae229; }

.priority-btn.active {
  color: #fff;
}

.priority-btn.active svg {
  filter: brightness(0) invert(1);
}

/* Und hier die individuellen Farben, wie beim Hover */
.urgent_btn.active { background: #ff3d00; }
.medium-btn.active { background: #ffa800; }
.low_btn.active    { background: #7ae229; }

.iconConact{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  border-style: 2px white solid;
  color: white;
  border: 2px solid white;

}

.iconConact span {
  color: black;
  font-size: 14px;
}

.sepraratorSubtask{
  width: 1px;
  height: 30px;
  background-color: #2a3647;

}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#inputButtons {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 8px;
}

.inputBackground{
background-color: white
}

textarea{ 
  max-width: 440px;
  min-width: 440px;
  min-height: 136px;
  max-height: 440px;
}

.inputBorderColor:focus{
    outline:none ;
    border: 2px solid #29ABE2;
  
}

.inputBorderColor:not(:placeholder-shown) {
    border-color: #29ABE2; /* Blau beim Fokussieren */
    outline: none;
}

.cleanInputforDate{
  border-style: none;
  font-size: 18px;
}

.cleanInputforDate:focus{
  outline: none;
  font-size: 18px; 
  background-color: white;
}

.btn_create:hover{
  background-color: #29ABE2;
  box-shadow: -2px 4px #00000021;
}

.btn_clear:hover {
  border: 3px solid #29ABE2;
  color: #29ABE2;
  box-shadow: -2px 4px #00000021;
  padding: 10px;
}

.btn_clear:hover .closeSvg{
  filter: invert(77%) sepia(55%) saturate(5018%) hue-rotate(165deg) brightness(93%) contrast(89%);
}

#selectedCategory {
  pointer-events: none; 
  user-select: none;      
  cursor: pointer;     
  color: black;
}

.stylingInput{
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;

}
.containerEditSubtask{
  margin-top: 4px 0px;
  background-color: white;
  border-bottom: 2px solid #29ABE2;
}


/* standart css???################################################################################# */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 19px;
    height: 19px;
    background-image: url(../assets/svg/check_btn.svg);
    background-repeat: no-repeat;
    background-position: center;
}

input[type="checkbox"]:hover {
    filter: brightness(0) invert(1);

}

input[type="checkbox"]:checked{
    background-image: url(../assets/svg/check_btn_checked.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked:hover{
    filter: brightness(0) invert(1);
}

.iconButtonsForImg{
  background: none;      
  border: none;          
  padding: 0;            
  margin: 0;
  cursor: pointer;       
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;

}

.hover:hover {
  background-color: #dad8d8;
  border-radius: 50%;
  width: 32px;
}

.fontColorBl{
  color: black;
}

.subtaskIcon{
height: 24px;
width: 24px;
}
