h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 16px;
}

.form_group {
  position: relative;
  margin-bottom: 8px;
}

.form_content {
  display: flex;
  flex-direction: column;
}

.input_container {
  position: relative;
  width: 100%;
}

.input_icon {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

#loginEmail,
#loginPassword,
#name,
#signUpEmail,
#signUpPassword,
#signUpConfirmPassword {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}

::placeholder {
  color: rgba(209, 209, 209, 1);
}

#loginEmail:focus,
#signUpEmail:focus,
#loginPassword:focus,
#signUpPassword:focus,
#signUpConfirmPassword:focus,
#name:focus {
  border: 1px solid rgb(41, 171, 226);
}

.error_message {
  color: red;
  font-size: 0.75rem;
  margin-top: 4px;
  min-height: 18px;
  display: block;
}

.email_error_position {
  position: absolute;
  top: 182px;
}