header {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 64px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

header h2 {
  margin-bottom: 0;
  font-weight: 400;
}

.upper-container {
  display: flex;
  position: relative;
}

.sidebar-logo {
  margin-top: 64px;
  height: 108px;
  margin-bottom: 64px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 108px - 128px);
  padding: 48px 0;
}

.sidebar-links-container {
  gap: 20px;
}

.sidebar-links-container a {
  display: flex;
  align-items: center;
  color: white;
  gap: 16px;
  padding: 8px 40px;
  font-weight: lighter;
}

.sidebar-links {
  width: 200px;
  border: 0;
}

.sidebar-links img {
  width: 30px;
  align-items: center;
  font-weight: 400;
}

.sidebar-links:hover {
  background-color: #2A3D59;
  cursor: pointer;
}

text {
  font-weight: 400;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}

.sidebar-bottom a {
  font-weight: 400;
  color: #A8A8A8;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px;
}

.sidebar-bottom a:hover {
  color: rgb(41, 171, 226);
  transition: all 125ms ease-in-out;
}

.focus {
  background-color: #091931;
  color: #CDCDCD !important;
}

button {
  background-color: transparent;
  padding-left: 0;
  border: transparent;
}

.center-wrap {
  flex-direction: column;
  width: 100%;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.help-icon {
  border: 0;
}

.help-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.profile {
  border-radius: 50%;
  border-color: #2A3647;
  width: 64px;
  height: 64px;
  border-width: 4px;
  border-style: solid;
  text-align: center;
  padding-right: 0;
  color: #29ABE2;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
}

.profile:hover {
  cursor: pointer;
  background-color: #E1E6EC;
}

.dropdown-menu-container {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 24px;
  text-align: center;
  position: absolute;
  right: 0;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2A3647;
  border-radius: 30px 0 30px 30px;
  height: 200px;
  width: 150px;
  z-index: 1;
}

.dropdown-menu button {
  border: 0;
  color: #CDCDCD;
  cursor: pointer;
  font-size: 1rem;
  text-wrap: nowrap;
  padding: 13px;
}

.dropdown-menu button:hover {
  background-color: #2A3D59;
}

/* Responsiv  */
.navContainer {
  background-color: #2A3647;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.navResponsivContainer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #2A3647;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.ResponsivBorder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
}

.navResponsivFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singleResponsivContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  max-width: 120px;
  padding: 8px 24px;
}

.singleResponsivContainer:hover {
  background-color: #091931;
  cursor: pointer;
  height: 80px;
  border-radius: 16px;
}

.resonsivIcon {
  height: 24px;
  width: 24px;
}

.respLogoContainer {
  display: none;
}

.respLogo {
  height: 64px;
}

.drop-down-menu-only-resp{
  display: none;
}

.dnone {
  display: none;
}

@media (max-width: 749px) {
  header {
    padding: 0px 37px;
  }

  header h2 {
    display: none;
  }

  .respLogoContainer {
    display: flex;
  }

  .help-icon {
    display: none;
  }

  .drop-down-menu-only-resp{
    display: block;
  }
}

@media (min-width: 1740px) {
  .dropdown-menu-container {
    right: auto;
    left: 1570px;
}
}

@media (max-width: 520px) {
  .ResponsivBorder {
    padding: 0px 8px;
  }

  .singleResponsivContainer {
    padding: 0px
  }
}