* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 24px;
}

ul {
  margin-bottom: 16px;
}

li {
  margin-left: 24px;
}

h1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  margin-top: 16px;
}

a {
  color: rgb(41, 171, 226);
}

.help_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.help_header img {
  width: 32px;
  height: 32px;
}

.help_header img:hover {
  cursor: pointer;
  content: url(../../assets/svg/arrow_hover.svg);
  width: 32px;
  height: 32px;
}

ol {
  margin-left: 5px;
}

ol li::marker {
  font-size: 24px;
  font-weight: 700;
}

ol h3{
  font-size: 24px;
  padding-left: 32px;
}

ol p{
  padding-left: 32px;
}

span {
  color: rgb(41, 171, 226);
}