.dpf{
  display: flex;
}

.dpf_cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dpf_ccc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dpf_col {
  display: flex;
  flex-direction: column;
}

*:disabled{
  background-color: dimgrey !important;
  box-shadow: none !important;
  cursor:default !important;
}

.sp_between {
    justify-content: space-between
}

.dnone{
  display: none;
}

.gap8{
  gap: 8px;
}

.mg-t8{
  margin-top: 8px;
}

.overflow-y{
  overflow-y: auto;
}

.border {
  padding: 80px 80px;
  background-color: #f6f7f8;
}

.align-self{
  align-self: flex-end;
}

#form{
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  max-width: 1100px;
}

h1{
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.error_message, 
.req {
  color: red;
  font-size: 14px;
  height: 14px;
}

.task-input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input_field {
  display: flex;
  flex-direction: column;

}

label {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 4px;
}

.task-input {
  width: clamp(20rem, 32.7vw, 27.5rem);
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 48px;
  font-size: 16px;
}

.separator {
  padding: 1px;
  background-color: #d1d1d1;
}

.priority-buttons {
  display: flex;
  gap: clamp(0.2rem, 1.25vw, 1rem)
}

.priority-btn {
  width: clamp(6.25rem, 10vw, 8.5rem);
  padding: clamp(0.5rem, 1vw, 1rem) clamp(0.2rem, 1vw, 0.75rem);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  line-height: 120%;
  cursor: pointer;
  transition: background 0.2s;

  gap: clamp(0.1rem, 0.5vw, 0.5rem) 
}

.category-select {
  width: 440px;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.footer_Add_Task {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  max-width: 1100px;

}

.btn {
  padding: 12px;
  border-radius: 10px;
  gap: 4px;
  font-size: 21px;
  line-height: 120%;
  cursor: pointer;
}

.btn_clear {
  border: 1px solid #2a3647;
  color: #2a3647;
  background-color: #f6f7f8;
}
.btn_create {
  background-color: #2a3647;
  color: white;
  font-weight: 700;
  border: none;
}

.custom-category-dropdown {
  position: relative;
  width: clamp(20rem, 32.7vw, 27.5rem);
  user-select: none;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-arrow {
  transition: transform 0.2s;
  font-size: 14px;
}

.custom-category-dropdown.open
.dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-list {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  position: static;
  border-radius: 0 0 4px 4px;
  padding: 8px 0px;
  max-height: 200px;
  overflow-x: auto;
  margin-bottom: 8px;
}

.custom-category-dropdown.open
.dropdown-list {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  padding: 6px 16px;
}

.dropdown-item:hover {
  background-color: #2A3647;
  border-radius: 8px;
  color: white;
}

.taskOutputtest,
.taskOutput{
  padding: 4px;
  height: 32px;
}


.subtask{
  display: flex;
  flex-direction: column;
}

.taskOutputtest:hover,
.taskOutput:hover{
  background-color: #dad8d8;
  cursor: pointer;
  border-radius: 16px;
}

.editdeleteBtn{
  display: none;
}

.taskOutputtest:hover
.editdeleteBtn,
.taskOutput:hover 
.editdeleteBtn{
  display: flex;
  gap: 8px;
}

.urgent_icon,
.medium_icon,
.low_icon{
  height: 32px;
  width: 32px;
}

.priority-btn:hover,
.urgent_btn:hover,
.medium-btn:hover,
.low_btn:hover,
.priority-btn.active {
  color: #fff;
} 

.priority-btn:hover svg,
.urgent_btn:hover svg,
.medium-btn:hover svg,
.checkSvg,
.low_btn:hover svg {
  filter: brightness(0) invert(1);
}

/* Individuelle Hintergrundfarben */
.urgent_btn:hover, .urgent_btn.active { background: #ff3d00; box-shadow: 4px 4px 4px #00000040;}
.medium-btn:hover, .medium-btn.active { background: #ffa800; box-shadow: 4px 4px 4px #00000040;}
.low_btn:hover, .low_btn.active { background: #7ae229; box-shadow: 4px 4px 4px #00000040;}

.priority-btn.active svg {
  filter: brightness(0) invert(1);
}

.iconConact{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
}

.morethan9{
  background-color: white !important;
  border: 1px solid black !important; 
}

.iconConact span {
  color: white;
  font-size: 14px;
}

.sepraratorSubtask{
  width: 1px;
  height: 30px;
  background-color: #2a3647;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#inputButtons {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 8px;
}

.inputBackground{
  background-color: white 
}

textarea{ 
  max-width: 440px;
  width: clamp(20rem, 36.7vw - 20vw 27.5rem);
  min-height: 136px;
  max-height: 440px;
}

.cleanInputforDate{
  border-style: none;
  font-size: 18px;
  width: 100%;
}

.cleanInputforDate:focus{
  outline: none;
  font-size: 18px; 
  background-color: white;
}

.btn_create:hover{
  background-color: #29ABE2;
  box-shadow: 4px 4px 4px #00000040;
}

.btn_clear:hover {
  border: 3px solid #29ABE2;
  color: #29ABE2;
  box-shadow: 4px 4px 4px #00000040;
  padding: 10px;
}

.btn_clear:hover 
.closeSvg{
  filter: invert(77%) sepia(55%) saturate(5018%) hue-rotate(165deg) brightness(93%) contrast(89%);
}

#selectedAssigned
#selectedCategory {
  pointer-events: none; 
  user-select: none;      
  cursor: pointer;     
  color: black;
}

.stylingInput{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  width: 100%;
}

.containerEditSubtask{
  margin-top: 4px 0px;
  background-color: white;
  border-bottom: 2px solid #29ABE2;
}

.iconButtonsForImg{
  background: none;      
  border: none;          
  padding: 0;            
  margin: 0;
  cursor: pointer;
  width: 32px;
}

.hover:hover {
  background-color: #dad8d8;
  border-radius: 50%;
  width: 32px;
}

.fontColorBl{
  color: black;
}

.subtaskIcon{
  height: 24px;
  width: 24px;
}

/* Carlender section test */
.calender{
  display: flex;
  justify-content: end;
}

.datePicker{
  height: 360px;
  max-width: 320px;
  min-width: 290px;
  background-color:  white;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0,2);
  padding: 1rem;
}

.datepickerTop{
  margin-bottom: 1rem;
}

.btnGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: - 0.5rem;
  gap: 8px;
}

.tag{
  margin-top: 0.5rem;
  background-color: #dad8d8;
  border-radius: 10px;
  padding: 0.5em 0.75em;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 1px 2px #000000d7,  0 0px 0 #00000040;
}

.monthSelector{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.monthSelector img {
  filter: brightness(0);
}

.arrow{
  background-color: #dad8d8;
  cursor: pointer;
  border-radius: 12px;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 1px 2px #000000d7,  0 0px 0 #00000040;
}

.change180{
  transform: rotate(180deg);
}

.monthName{
  font-weight: 600;
}

.datepickerCalender{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
.day,
date{
  justify-self: center;
}

.day{
  color: #2A3647;
  font-size: 0.875em;
  font-weight: 700;
  justify-self: center;
  height: 32px;
  width: 32px;
}

.date{
  border: 0;
  padding: 0;
  margin: 4px 0px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  font-weight: 600;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  color: #2a3647;
  margin-left: 6px;
}

.date:hover{
  background-color: #dad8d8;
  border-radius: 50%;
}

.date:focus,
.dateFaded:focus{
  outline: 0;
  background-color: #2a3647;
  border-radius: 50%;
  border: 1px solid black;
  color: white;
}

.dateFaded{
  border: 0;
  padding: 0;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  margin-left: 6px;
  font-weight: 600;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  color: #2a36473f;
}

button.dateFaded {
  background-color: white !important;
}

.feedbackAddTaskContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
  opacity: 1;
  animation: overlaySlideUp 2s ease-in-out forwards;
  z-index: 3;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.feedbackAddTask{
  background-color: #2A3647;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
  padding: 16px;
  width: 280px;
  gap: 8px;
  border-radius: 20px;
}


.feedbackAddTask span {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

@keyframes overlaySlideUp {
  0% {
    transform: translate(-50%, 700%);
    opacity: 1;
  }
  20% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%);
    opacity: 1; 
  }
  100% {
    transform: translate(-50%, 120%);
    opacity: 0;
  }
}

@media (max-width: 1250px) {
  .scroll_layout {
    padding: 24px 24px 0px !important;
  }

  .priority-btn {
      font-size: 16px;
  }
}

@media (max-width: 949px) {
  .navContainer{
    display: none !important;
  }

  .navResponsivContainer{
    display: flex !important;
  }

  .btn{
    padding: 8px;
    font-size: 18px;
  }
}

@media (max-width: 799px) {
  section {
  flex-direction: column;
  gap: 0px;
  justify-content: center;
}

  h1{
    font-size: 3.5rem !important;
  }
  

.scroll_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 100px - 90px);
}

#taskForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-input-container{
gap: 0px;
}

.error_message{
  margin-bottom: 4px;
}

#contactDropdown,
.priority-buttons,
textarea{
  margin-bottom: 18px;
}
textarea{ 
  max-width: clamp(18.5rem, 90vw, 36rem) !important;
}

textarea,
.custom-category-dropdown,
.task-input {
  width: clamp(18.5rem, 90vw, 36rem);
  }

  .priority-btn {
  width: 120px;
  padding: 16px 16px
}

.separator{
  display: none;
}

  .priority-buttons {
    display: flex;
    justify-content: space-between;
  }

  .footer_Add_Task {
      padding-top: 24px;
      width: 100%;
  }

  .reqContainer{
    padding-left: 0px;
    padding-top: 8px;
  }
}

@media (max-width: 520px) {
  .footer_Add_Task {
    position: sticky;
    bottom: 1px;
  }

  .feedbackAddTask span {
  font-size: 16px;
  }

  .feedbackIcon{
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 420px) {
  .priority-btn {
          padding: 4px 4px;
          width: 95px;
          font-size: 14px;
  }
}