body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
}

.logo {
  object-fit: contain;
  z-index: 1100;
  transition: transform 0.8s ease-in-out, width 0.8s ease-in-out, height 0.8s ease-in-out;
  transform: translate(-50%, -50%) scale(2);
  width: 64px;
  height: 80px;
}

.content_layout {
  max-width: 1440px;
  margin: 0 auto;
}

.logo_container {
  width: 64px;
  height: 80px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 40px;
}

.sign_up {
  display: none;
  align-items: center;
  gap: 32px;
}

.sign_up span {
  font-size: 1.25rem;
  font-weight: 400;
}

.sign_up button {
  background-color: rgb(42, 54, 71);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  width: 90px;
}

.login_card {
  border: 1px transparent;
  border-radius: 16px;
  filter: drop-shadow(3px 3px 3px rgba(179, 179, 179, 0.9));
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 32px 64px;
  display: block;
}

.login_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline {
  border: 1px solid;
  width: 60px;
  height: 1px;
  color: rgb(41, 171, 226);
  background-color: rgb(41, 171, 226);
  margin-bottom: 24px;
}

.form_btn {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 24px;
}

.sign_btn {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.email_error_position,
.password_error_position {
  position: static;
  top: auto;
  margin-top: 4px;
}

#loginPassword {
  background-image: none;
}

#guestLog {
  background-color: white;
  color: rgb(42, 54, 71);
  border: 1px solid;
  border-color: rgb(42, 54, 71);
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  width: 140px;
  height: 40px;
  font-size: large;
}

#guestLog:hover {
  color: rgb(41, 171, 226);
  border-color: rgb(41, 171, 226);
  box-shadow: 0 7px 7px 0 rgba(104, 104, 104, 0.301);
  transition: all 125ms ease-in-out;
}

#loginBtn {
  background-color: rgb(42, 54, 71);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 400;
  width: 99px;
  height: 40px;
  font-size: large;
}

#loginBtn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 7px 7px 0 rgba(104, 104, 104, 0.301);
  transition: all 125ms ease-in-out;
}

#signBtn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 7px 7px 0 rgba(104, 104, 104, 0.301);
  transition: all 125ms ease-in-out;
}

@media only screen and (max-width: 600px) {
  header{
    padding: 24px;
  }

  .sign_up {
    position: fixed;
    justify-content: center;
    bottom: 15%;
    padding: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .sign_up span {
    font-size: 1rem;
    width: max-content;
  }

  .login_card {
    padding: 16px;
    width: 90%;
    top: 45%;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    object-fit: cover;
    z-index: 100;
  }

  .form_btn {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0;
  }

  #loginBtn {
    width: 140px;
  }

  .terms_conditions {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 475px) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 71, 1);
    animation: fadeOutOverlay 1s ease-in-out forwards;
    animation-delay: 1s;
    z-index: 2;
  }

  @keyframes fadeOutOverlay {
    to {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
}

@media only screen and (max-height: 675px) {
  .sign_up {
    bottom: 12%;
  }

  .login_card {
    top: 48%;
  }
}