body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
}

.join_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  object-fit: cover;
  animation: moveShrinkFade 0.8s ease-in-out forwards;
  z-index: 100;
  animation-delay: 1s;
}

@keyframes moveShrinkFade {
  0% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 24px;
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
}

.sign_up {
  display: flex;
  align-items: center;
  gap: 32px;
}

.sign_up span {
  font-size: 1.25rem;
  font-weight: 400;
}

.sign_up button {
  background-color: rgb(42, 54, 71);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  height: 50px;
  width: 90px;
}

.login_card {
  border: 1px transparent;
  border-radius: 16px;
  filter: drop-shadow(3px 3px 3px rgba(179, 179, 179, 0.9));
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 125ms forwards;
  width: 500px;
  padding: 32px 64px;
  display: none;
}

.login_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline {
  border: 1px solid;
  width: 60px;
  height: 1px;
  color: rgb(41, 171, 226);
  background-color: rgb(41, 171, 226);
  margin-bottom: 24px;
}

.form_btn {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 24px;
}

.sign_btn {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.email_error_position,
.password_error_position {
  position: static;
  top: auto;
  margin-top: 4px;
}

#loginPassword {
  background-image: none;
}

#guestLog {
  background-color: white;
  color: rgb(42, 54, 71);
  border: 1px solid;
  border-color: rgb(42, 54, 71);
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  width: 140px;
  height: 40px;
  font-size: large;
}

#guestLog:hover {
  color: rgb(41, 171, 226);
  border-color: rgb(41, 171, 226);
  box-shadow: 0 7px 7px 0 rgba(104, 104, 104, 0.301);
  transition: all 125ms ease-in-out;
}

#loginBtn {
  background-color: rgb(42, 54, 71);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 400;
  width: 99px;
  height: 40px;
  font-size: large;
}

#loginBtn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 7px 7px 0 rgba(104, 104, 104, 0.301);
  transition: all 125ms ease-in-out;
}

#signBtn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 7px 7px 0 rgba(104, 104, 104, 0.301);
  transition: all 125ms ease-in-out;
}

@media only screen and (max-width: 600px) {
  .login_header {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 15%;
    width: 100%;
    padding: 0;
  }

  .sign_up span{
    font-size: 1rem;
  }

  .login_card{
    padding: 16px;
    width: 90%;
    top: 45%;
  }

  .join_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    object-fit: cover;
    animation: moveShrinkFade 0.8s ease-in-out forwards;
    z-index: 100;
    animation-delay: 1s;
  }

  @keyframes moveShrinkFade {
    0% {
      transform: translate(-50%, -50%) scale(2);
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 24px;
      height: 80px;
      width: 64px;
    }
  }

.form_btn{
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0;
}

#loginBtn{
    width: 140px;
}

.terms_conditions {
  margin-bottom: 16px;
}

}

@media only screen and (max-width: 475px) {

  .join_image {
    content: url("../assets/img/logo/join_logo_vector.svg");
    animation: moveShrinkFade475 1s ease-in-out forwards, changeLogo 1s ease-in-out forwards;
    animation-delay: 1s;
    height: 80px;
    width: 64px;
    width: auto;
  }

  @keyframes moveShrinkFade475 {
    0% {
      transform: translate(-50%, -50%) scale(2);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      content: url("../assets/img/logo/join_logo_vector.svg");
    }

    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 24px;
      height: 80px;
      width: 64px;
    }
  }


  @keyframes changeLogo {
    0%, 100% { 
      content: url("../assets/img/logo/join_logo_vector.svg"); 
      opacity: 1;
    }
    5%, 95% { opacity: 0.95; }
    10%, 90% { opacity: 0.9; }
    15%, 85% { opacity: 0.85; }
    20%, 80% { opacity: 0.8; }
    25%, 75% { opacity: 0.75; }
    30%, 70% { opacity: 0.7; }
    35%, 65% { opacity: 0.65; }
    40%, 60% { opacity: 0.6; }
    45%, 55% { opacity: 0.55; }
    100% {
      content: url("../assets/img/logo/join_logo.png");
      transform: translate(0, 0) scale(1);
      position: absolute;
      top: 24px;
      left: 24px;
      height: 80px;
      width: 64px;
    }
  }

  .bg_overlay_responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 71, 1);
    animation: fadeOutOverlay 1s ease-in-out forwards;
    animation-delay: 1s;
    z-index: 2;
    }

    @keyframes fadeOutOverlay {
      to {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
    }
}
