#overlay,
#addTaskOverlay {
  position: fixed;
  inset: 0;
  background: #0000004d;
  z-index: 1;
}

#overlay_card {
  position: fixed;
  width: clamp(18rem, 95vw, 30rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 50px);
  width: clamp(18rem, 95vw, 30rem);
  overflow: auto;
  background: #fff;
  color: #000;
  padding: 48px 40px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  gap: 24px;
}

.witdh100 {
  width: 100% !important;
}

.OverlayEditContainer {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.overlay_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-input-editoverlay {
  max-width: clamp(18.5rem, 90vw, 36rem);
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 48px;
  font-size: 1rem;
}

.overlay_card_category {
  color: white;
  padding: 4px 16px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  font-size: 1.25rem;
}

.overlay_close_btn {
  background: none;
  border: none;
  font-size: 1.75rem;
  cursor: pointer;
  text-align: end;
  width: fit-content;
  margin-left: auto;
  display: block;
}

.overlay_card_title {
  font-weight: 700;
  font-size: 3rem;
  color: black;
}

.overlay_card_description {
  font-size: 1.25rem;
  color: black;
  max-height: 75px;
  overflow-y: auto;
}

.overlay_card_due_date_container,
.overlay_card_priority_container {
  display: flex;
  gap: 24px;
  font-size: 1.25rem;
  align-items: center;
  text-transform: capitalize;
}

.overlay_card_due_date_container span,
.overlay_card_priority_container span,
.overlay_card_assigned_to_container span,
.overlay_card_subtasks_container span {
  width: 120px;
  color: #2A3647;
  font-size: 1.25rem;
}

.overlay_card_priority_layout {
  display: flex;
  gap: 8px;
  align-items: center;
}

.overlay_card_priority_img {
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.overlay_card_priority_img_urgent {
  background-image: url('../assets/svg/priority_symblos/urgent.svg');
}

.overlay_card_priority_img_medium {
  background-image: url('../assets/svg/priority_symblos/medium.svg');
}

.overlay_card_priority_img_low {
  background-image: url('../assets/svg/priority_symblos/low.svg');
}

.overlay_card_assigned_to_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.overlay_card_assigned_to_layout {
  max-height: 135px;
  overflow-y: auto;
}



#overlayCardContact {
  height: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 7px 16px;
}

.overlay_card_subtasks_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.overlay_card_subtask_layout {
  max-height: 100px;
  overflow-y: auto;
}


.overlay_card_single_subtask {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 7px 16px;
}

.overlay_card_footer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
  color: #2a3647;
}

.overlay_card_footer button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 125ms ease-in-out;
}

.overlay_card_footer button:hover,
.overlay_card_footer button:hover svg path {
  color: rgb(41, 171, 226);
  transform: scale(1.1);
  fill: rgb(41, 171, 226) !important;
}

.overlay_card_footer_separator {
  width: 1px;
  height: 30px;
  background-color: #D1D1D1;
}

.overlay_contact_badge {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6px 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 0.875rem;
}

.overlay_contact_initials {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay_contact_name {
  font-size: 1.25rem;
  color: black;
}

.overlay_no_contacts {
  color: #2A3647;
  gap: 16px;
  padding: 0 16px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.overlay_edit_form_layout {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 8px;
}

form label {
  font-size: 1.25rem;
  margin-bottom: 0;
}

#overlayEditTitle,
form textarea,
form select {
  border: solid 1px rgba(209, 209, 209, 1);
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  padding: 8px 12px;
  transition: all 125ms ease-in-out;
}

#overlayEditTitle {
  height: 48px;
}

#overlayEditDescription {
  resize: none;
  overflow: hidden;
  min-height: 80px;
  field-sizing: content;
  height: auto;
  margin-bottom: 16px;
}

#inputButtonsEditOverlay {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

#dateOverlayEdit {
  position: relative;
}

#calenderOverlayEdit {
  position: absolute;
  top: calc(100% + 4px);
  right: -1px;
  z-index: 9999;
  border: none;
}

#calenderOverlayEdit:not(:empty) {
  border: solid 1px rgba(209, 209, 209, 1);
  border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  .overlay_card_title {
    font-size: 1.788rem;
  }

  .overlay_card_due_date_container span,
  .overlay_card_priority_container span,
  .overlay_card_assigned_to_container span,
  .overlay_card_subtasks_container span,
  .overlay_card_priority_layout,
  .overlay_card_due_date_container,
  .overlay_contact_name,
  .overlay_contact_initials,
  .overlay_card_description {
    font-size: 1rem;
  }

  #overlay_card {
    padding: 18px
  }
}