@media only screen and (max-width: 1265px) {
  .navContainer {
    display: none;
  }

  .navResponsivContainer {
    display: flex;
  }
}

@media only screen and (max-width: 1065px) {
  .contact-informations {
    padding: 24px;
  }
}

@media only screen and (min-width: 981px) {
  .contact-informations,
  .contact-list {
    display: flex !important;
  }
}

@media only screen and (max-width: 980px) {  
  .textbox button {
    display: block;
    position: absolute;
    top: 150px;
    right: 24px;
  }

  .contact-list {
    width: 100vw;
  }

  .list {
    padding: 0;
  }

  .letter {
    padding: 16px;
  }

  .contact {
    gap: 16px;
    padding: 16px;
  }

  .m-gap {
    align-items: center;
  }

  .contact-informations {
    display: none;
  }

  .contact-line {
    width: 95vw;
  }

  .mobile-add-contact {
    display: flex;
  }

  .add-contact {
    display: none;
  }

  #goback-arrow {
    margin-left: 400px;
  }

  #goback-arrow:hover {
    cursor: pointer;
  }

  .add-form {
    margin-left: 0;
  }

  .mobile-menu{
    display: flex;
  }

  .mobile-add-contact {
    background-color: #2A3647;
    font-size: 21px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: fixed;
    z-index: 100;
    border: unset;
    bottom: 120px;
    right: 32px;
    box-shadow: 0px 7px 6px 1px rgba(0, 0, 0, 0.1);
}

.mobile-add-contact:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.slide-in-mobile-right {
  animation: slideInRight 0.4s ease-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUpHoldDown {
  0% {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  20% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
}

.alert {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);   /* echte Zentrierung */
    border-radius: 30px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    z-index: 2000;
    width: 250px;
    height: 80px;
    border-color: transparent;
    color: white;
    pointer-events: none;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(40px);
    opacity: 0;
  }
}

.slide-out {
  animation: slideOutRight 0.4s ease-out forwards;
}

.slide-up-hold-down {
  animation: slideUpHoldDown 2.5s ease-in-out forwards;
}

#mobile-edit:hover, #mobile-delete:hover {
    cursor: pointer;
}
}

@media (max-width: 930px) {
    .add-contact-form {
        flex-direction: column;
        width: 510px;
        height: 700px;
        bottom: 10%;
        justify-content: flex-start;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .text-form {
        width: 100% !important;
        border-radius: 15px 15px 0 0;
        height: 50%;
    }

    .inner-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin-top: 0;
    }

    .add-form-innerform {
        flex-direction: column;
    }

    #group-name {
        margin-top: 72px;
    }

    .img-ppicture {
        margin-left: 0 !important;
        position: absolute;
        bottom: 290px;
    }

    .text-form img {
        display: none;
    }

    .text-form h1 {
        font-size: 50px;
    }

    .text-form h3 {
        font-size: 30px;
    }

    .divider-small {
        width: 72px;
    }

    #x-button-form:hover {
        background-color: transparent;
        cursor: pointer;
    }

    .edit-contact-picture {
        width: 134px;
        height: 134px;
        border-radius: 100%;
        color: white;
        border-width: 3px;
        border-color: white;
        border-style: solid;
        font-size: 26px;
        margin-left: 0 !important;
        margin-left: 0 !important;
        position: absolute;
        bottom: 300px;
        font-size: 42px;
    }
    
    @keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
    }

    .slide-up {
        animation: slideUp 0.6s ease-out forwards;
    }

    @keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-down {
  animation: slideDown 0.6s ease-out forwards;
}
}

@media (max-width: 880px) {
    #goback-arrow {
        margin-left: 0;
        position: absolute;
        right: 5px;
    }
}

@media only screen and (max-width: 749px) {
  .contact-list {
    scrollbar-width: none;
  }

  .textbox {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

  .underline {
      display: block;
      height: 3px;
      width: 104px;
      background-color: #29ABE2;
      border-radius: 3px;
  }

  .divider {
      display: none;
  }

  .info_contact_name{
    justify-content: center;
  }

  .fullname {
    margin: 0;
  }

  .contact-icons {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  .contact-informations h1{
    font-size: 2.5rem;
  }

  .textbox button {
    top: 135px;
  }

  .textbox h2 {
    font-size: 1rem;
  }

  .underline {
      width: 72px;
  }

  .info-content-container{
    gap: 24px;
  }

  .fullname {
    font-size: 1.5rem;
  }

  .big-contact-picture{
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
  }

  .informations h2 {
    margin: 0;
  }
}

@media (max-width: 470px) {
    .add-contact-form {
        width: 300px;
    }

    .text-form h1 {
        font-size: 33px;
    }

    .text-form h3 {
        font-size: 18px;
    }

    #cancel-contact {
        display: none;
    }

    .buttons-addform {
        justify-content: center !important;
    }

    #group-name, #group-mail, #group-phone {
        margin-bottom: 39px;
    }
}