body {
    height: 100vh;
    margin: 0;
    background-color: rgba(246, 247, 248, 1);
}

header {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    height: 100px;
    position: relative;
    width: 100%;
}

.scroll_layout{
    padding: 80px 80px 0;
}

h1 {
    margin-bottom: 0;
    font-size: 3.25rem;
}

.sidebar {
    background-color: #2A3647;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.sidebar-logo {
    margin-top: 64px;
    height: 108px;
    margin-bottom: 64px;
}

.next-page {
    gap: 20px;
    margin-bottom: 64px;
}

.next-page img {
    width: 200px;
}

.add-task:hover, 
.board:hover, 
.contacts:hover {
    background-color:#2A3D59;
    cursor: pointer;
}

button {
    background-color: transparent;
    padding-left: 0;
}

.summary, 
.add-task, 
.board, 
.contacts {
    width: 200px;
    border: 0;
}

.blue-divider {
    background-color: #29ABE2;
    height: 65px;
    width: 3px;
}

.join-subline {
    font-weight: 400;
    font-size: 27px;
    text-wrap: nowrap;
}

.help-icon {
    border: 0;
}

.help-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.profile {
    border-radius: 50%;
    border-color: #2A3647;
    width: 64px;
    height: 64px;
    border-width: 4px;
    border-style: solid;
    text-align: center;
    padding-right: 0;
    color: #29ABE2;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
}

.profile:hover {
    cursor: pointer;
    background-color: #E1E6EC;
}

.dropdown-menu-container {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 16px;
    text-align: center;
    position: absolute;
    right: 0;

}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    border-radius: 30px 0 30px 30px;
    height: 200px;
    width: 150px;
    
}

.dropdown-menu button {
    border: 0;
    font-family: Inter;
    color: #CDCDCD;
    cursor: pointer;
    font-size: 16px;
    text-wrap: nowrap;
    padding: 13px;
}

.dropdown-menu button:hover {
    background-color: #2A3D59;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-wrap h2 {
    margin-left: 64px;
}

.center-wrap {
    flex-direction: column;
    width: 100%;
}

.headlines {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-bottom: 48px;
}

.two-cards {
    display: flex;
}

.card-to-do {
    height: 150px;
    width: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

.card-done {
    height: 150px;
    width: 250px;
    background-color: white;
    border-radius: 30px;
    margin-left: 32px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

.card-font {
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
}

.task-category {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
}

.card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-to-do:hover {
    background-color: #2A3647;
    cursor: pointer;
    transform: translate(10px, -5px) scale(1.05);
}

.card-done:hover {
    background-color: #2A3647;
    cursor: pointer;
    transform: translate(-10px, -5px) scale(1.05);
}

.long-card {
    background-color: white;
    width: 532px;
    height: 150px;
    margin-top: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    transition: all 0.1s ease;
}

.long-card:hover {
    background-color: #2A3647;
    cursor: pointer;
    transform: translate(10px, 5px) scale(1.05);
}

.date-subline {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
}

.urgent-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date {
    font-family: Inter;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.divider {
    width: 2px;                
    height: 100px;              
    background-color: #E2E6EC;
}

.three-cards-row {
    margin-top: 25px;
    display: flex;
    gap: 32px;
}

.task-board-container {
    width: 156px;
    height: 150px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

.task-board-container:hover {
    transform: translate(10px, -5px) scale(1.05);
    background-color: #2A3647;
}

.task-progress-container {
    width: 156px;
    height: 150px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

.task-progress-container:hover {
    transform: scale(1.05);
    background-color: #2A3647;
    cursor: pointer;
}

.feedback-container {
    width: 156px;
    height: 150px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

.feedback-container:hover {
    transform: translate(-10px, -5px) scale(1.05);
    background-color: #2A3647;
    cursor: pointer;
}

.three-card-number {
    font-family: Inter;
    font-weight: 600;
    font-size: 64px;
    color: #2A3647;
}

.three-card-subline {
    font-family: Inter;
    font-weight: 400;
    color: #2A3647;
}

.content {
    flex: 1 1 0;
    padding-left: 70px;
}

.greetings {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.greetings span {
    font-family: Inter;
}

#timeGreeting {
   font-weight: 500;
   color: #2A3647;
   font-size: 47px;
}

#userGreeting {
    color: #29ABE2;
    font-weight: 700;
    font-size: 64px;
}

.expired {
  color: #FF3D00;
  font-weight: bold;
}
